@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* set margin and padding to 0, and border to none */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    background: url('../images/airplane-8.jpg') no-repeat center center;
    min-height: 100vh;
}

/* heading */

h1, h2 {
    font-family: Lato, sans-serif;
    text-align: center;
}

h1 a {
    text-decoration: none;
    color: #373737;
}

.logo {
    margin-top: 3rem;
}

/* Next button and get results button */

button.button, a.button {
    font-family: Lato, sans-serif;
    padding: 16px 32px;
    font-size: 2rem;
    border-radius: 10px;
    background-color: rgb(239, 247, 246);
    color: #373737;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    border: 1px solid #373737;
 }

/* Home section */

.home {
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-container {
    background-color:rgb(55, 55, 55, 0.5);
    padding: 50px 50px;
    border-radius: 10px;
 }


/* Question area */

.quiz {
    margin-top: 32px;
}

.quiz-info {
    margin-top: 30px;
    margin-bottom: 30px;
}

.quiz-container {
    padding: 40px;
    background-color: rgb(239, 247, 246, 0.6);
    font-size: 1.7rem;
    width: 500px;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #373737;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


.quiz-container .answers {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    margin-top: 16px;
}

.question {
    text-align: center;
    font-weight: bold;
}


/* button */

.quiz-container button {
    align-self: flex-end;
    margin-top: 2rem;
}

.play-container a {
    margin-right: 16px;
}


#back {
    display: none;
}

#back.show {
    display: block;
    font-family: Lato, sans-serif;
    padding: 16px 32px;
    font-size: 2rem;
    margin-top: 18px;
    border-radius: 10px;
    background-color: rgb(239, 247, 246, 0.8);
    color: #373737;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    border: 1px solid #373737;
}

 .play {
    margin-right: 16px;
 }

 /* Quiz style */

.question-block {
    display: none;
}

.question-block.show {
    display: block;
}

#submit {
    display:none;
}
#submit.show {
    display: inline-block;
}

#next.hide {
    display: none;
}

/* The Modal (background) */

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */

  .modal-content p {
    background-color: #EFF7F6;
    margin: auto;
    padding: 20px;
    margin: 15% auto;
    border: 1px solid #888;
    width: 40%;
  }

  .modal-content p {
    font-size: 20px;
  }
  
  /* The Close Button */

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #373737;
    text-decoration: none;
    cursor: pointer;
  }

@media screen and (max-width: 600px) {
    button.button, a.button {
        font-size: 1rem;
        font-weight: 700;
     }
    .home {
        padding: 16px;
    }

    .play-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .play-container a {
        margin-bottom: 16px;
        margin-right: 0;
    }

    .quiz-container {
        width: 100%;
        max-width: 100%;
        padding: 16px;
    }

    .quiz{
        padding: 0 20px;
    }

    .quiz-container .answers {
        width: 85%;
    }

    body {
        background-position: 30% 50%;
    }
}